<footer class="footer mt-auto py-3">
    <!-- <div class=" col-sm-12 h-100"> -->
        <a href="https://www.geotab.com/security/" target="_blank">Security</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://docs.google.com/document/d/1sVygLN02w2xNovFY4q5vw-oAzfYxCd7WLhyToElgDbs/pub" rel="noopener"
            target="_blank">Privacy Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/myadmin-sdk/introduction/">MyAdmin SDK</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://docs.google.com/document/d/1jA8Qc8WZMhmaqdjd8Ng8rY4iMI073xCfLNt_DSP72TQ/edit" rel="noopener"
            target="_blank">End User Agreement</a>
        <div class="copyright-container copyright-white-text">Copyright &copy; 2017 Geotab</div>
    <!-- </div> -->
</footer>