<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" title="navigationBar">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{site.baseurl}}/assets/images/pillar.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            {{ site.title }}
        </a>
        <button class="navbar-toggler d-lg-none" id="toggler" type="button" aria-label="navigation bar toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
</header>
