<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" title="navigationBar">
        <div class="navbar-deprecation-banner" id="deprecation-banner">
            <span>📢 This site will be going away on April 30, 2024. Check out the new </span>
            <a href="https://developers.geotab.com" target="_blank" rel="noreferrer noopener" title="Geotab SDK - Developers Site">developers.geotab.com</a>
        </div>
        <div>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{site.baseurl}}/assets/images/pillar.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                {{ site.title }}
            </a>
            <button class="navbar-toggler d-lg-none" id="toggler" type="button" aria-label="navigation bar toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <script>
        let banner = document.getElementById("deprecation-banner");
        if (window.location.href.includes("runner") && banner) {
            banner.parentElement.removeChild(banner);
        }
    </script>
</header>
