/*
The main SCSS file for everything, yep
*/
@import "boostrap";
@import "syntax-highlighting";
  
body { 
    padding-top: 56px; 
    width: 100%;
    height: 100%;
}

table {
    @extend .table;
    @extend .table-bordered;
}

main img:not(.welcome) {
    @extend .img-thumbnail;
}

blockquote {
    padding: 1rem;
    border-left: 3px solid #0B4B77;
    @extend .bg-light;

    p {
        margin: 0;
    }
}

.bg-dark {
    background-color: #0B4B77 !important;
    background: linear-gradient(to right,#0B4B77 0,#0B4B77 20%,#1179B6 50%,#0B4B77 80%,#0B4B77 100%);
}

.btn-primary {
    background-color: #56A1D5;
    border-color: #3983c3;
}

.btn-primary:hover {
    background-color: #3983c3;
}

.embed-responsive {
    margin-bottom: 2rem;
    max-width: 800px;
}


// welcome
.jumbotron img {
    width: 1em;
    height: 1em;
}

.welcome {
    max-height: 350px;
}

// permalinks
.header .header-link {
    opacity:0;
    transition:opacity 0.2s linear;
}

.header:hover .header-link:not(:hover),
.header-link:hover {
    opacity:1;
}

// reference
.beta {
    @extend .badge; 
    @extend .badge-pill;
    @extend .badge-info;
    font-size: 0.8rem;
    font-weight: normal;
}
.member {
    @extend .card;
    margin: 1rem 0;
}
.member-info {
    @extend .card-body;
}
.member-info table {
    margin-bottom: 0;
}
.member-namespace {
    @extend .text-muted;
    font-size: 0.8rem;
    font-weight: normal;
}
.member-type {
    display: none;
}
.member-namespace,
.member-type {
    @extend .text-muted;
}
.member-runner-link {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    float: right;
}
@media (min-width: 768px) {
    #api-reference-search {
        position: sticky;
        z-index: 1040;
        top: 0.5rem;
        max-width: 30rem;
        float: right;
    }
}
.autocomplete {
    position: absolute;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #444;
    list-style: none;
    padding: 2px;
    margin: 0;
    cursor: pointer;
    z-index: 10000;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
    -webkit-transform : translateZ(0);
    min-width: 200px;
}

.autocompleteActive {
    font-size: 0.9em;
    max-height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px .4em;
    line-height: 1.5em;
}

.autocompleteStatic {
    font-weight: bold;
    margin: .8em 0 .2em;
    background: #f7f7f7;
    overflow: auto;
    padding: 2px .4em;
    line-height: 1.5em;
}

.autocompleteLink {
    text-decoration: none;
    display: block;
    color: #000;
}

.autocompleteActive.activeHover {
    background-color: #0073ea;
}

.autocompleteActive.activeHover > .autocompleteLink {
    color: #fff;
}
/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 30px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.sidebar h4, 
.sidebar h5 {
    padding-left: 16px;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}
