@import "../../variables.scss";

.search-modal-backdrop {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-modal-container {
  background-color: $lightGray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 705px;
  height: 520px;
  border-radius: 8px;
  background: var(--backgrounds-main, #fff);

  /* Dropshadow_Default */
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

/* Search modal header container styling*/
.search-modal-header-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  .search-modal-input-field-container {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 4px;
    border: 1px solid var(--borders-general, #c0ccd8);
    background: var(--backgrounds-main, #fff);

    .search-modal-input-field {
      display: flex;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
    }

    .modal-search-input {
      display: flex;
      align-items: center;
      flex: 1 0 0;
      border: none;
      outline: none;

      overflow: hidden;
      color: var(--text-placeholder, #8da4b9);
      font-feature-settings: "clig" off, "liga" off;
      text-overflow: ellipsis;
      white-space: nowrap;

      font-size: $font-size-small;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
      letter-spacing: 0.32px;
    }

    .modal-search-icon {
      display: flex;
      width: 16px;
      height: 16px;
      padding: 0.123px 0.184px 0.169px 0.121px;
      justify-content: center;
      align-items: center;
    }
  }
}

/* Search modal tabs container styling */
.search-modal-tabs-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background: #fff;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  border-bottom: 1px solid var(--backgrounds-content-1, #f2f5f7);

  .tab-search-icon {
    width: 14px;
    height: 14px;
  }

  .tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.32px;
  }

  .Tabs-module_TabsRoot__tfB8h {
    background-color: #fff;
    // width: 100%;
    // height: 100%;
  }

  #All {
    display: flex;
    height: 350px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  // .Tabs-module_TabsContent__wDBJ4 {
  //   flex-grow: 1;
  //   border-bottom-left-radius: 8px;
  //   border-bottom-right-radius: 8px;
  //   outline: none;
  //   padding: 8px 24px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center; /* Center content vertically */
  //   align-items: center; /* Center content horizontally */
  // }
}

/* Search modal results container styling */
