body {
    font-family: arial;
}
ul#results {
    padding: 0; margin: 0;
}

ul#results > li {
    list-style-type: none;
    background: linear-gradient( 0deg, #0b4b77, #1179B6 );
    color: #ffffff;
    padding: 0.6rem;
    margin: 1rem 0 0.2rem 0;
}

ul#results li ul {
    list-style-type: square;
}
