@import "../../variables";

.pageTitle {
    background-color: $backgrounds-content-0;
    color: $page-title-text-primary;
    padding: 16px 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;

    &__h1{
        font-weight: 300;
        font-size: 28px;
        line-height: 36px;
        margin: 0px;
    }
}
