html, body, .api {
    width: 100%;
    height: 100%;
}

main {
    height: calc(100% - 10px);
}

.container-fluid, .row, main {
    height: 100%;
}

article {
    height: calc(100% - 1rem);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.toolbar {
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 0;
    box-sizing: border-box;
}
.content {
    width: 100%;
    height: calc(100% - 72px);
    box-sizing: border-box;
}
@media (max-width: 540px) {
    .content {
        height: calc(100% - 202px);
    }
}
.content .pane {
    height: calc(100% - 4px);
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #cccccc;
    margin: 2px;
    position: relative;
    overflow: auto;
}
.content .pane.noborder {
    border: 0;
}
.content .pane.hidden,
.content .editor.hidden {
    display: none;
}
.content .pane-header {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 6px;
    z-index: 100;
    width: 70px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
    transition: opacity 0.1s ease;
    border-bottom-left-radius: 3px;
}
.content .pane-header:hover {
    opacity: 0.1;
}
.content .pane-content {
    width: 100%;
    height: 100%;
}
.source {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#pane-output {
    overflow-y: hidden;
}
.editor {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.editor {
    border: 1px solid #cccccc;
    margin-bottom: 4px;
}
.editor.last-visible {
    margin-bottom: 0;
}
.output {
    border: none;
    width: 100%;
    height: 100%;
}

/* Login dialog */
.login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.login .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    z-index: 100;
}
.login .dialog {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    z-index: 101;
    width: 500px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 30px;
}

.login .dialog .line {
    margin-bottom: 10px;
}

.login .dialog .line:after {
    display: table;
    content: " ";
    clear: both;
}

.login .dialog .line.error {
    border: 1px solid #ce838f;
    background-color: #f2dede;
    color: #b94a48;
    font-size: 16px;
    padding: 10px;
}

.login .dialog .line:last-child {
    margin-bottom: 0;
}

.login .dialog .line label,
.login .dialog .line input {
    font-family: inherit;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    float: left;
    padding: 8px 10px;
}

.login .dialog .line label {
    font-weight: bold;
    width: 40%;
}
.login .dialog .line input {
    width: 60%;
}

.login .dialog .geotabButton {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.login .dialog .line #loginButton {
    font-size: 16px;
    float: right;
    width: 60%;
    height: 38px;
}

.login .dialog .line .geotabText {
    font-size: 14px;
    line-height: 20px;
}

.login .dialog .line .bold {
    font-weight: bold;
}

#loggedUser.login .dialog .geotabLabel {
    font-weight: normal;
    line-height: 2em;
}

#loggedUser.login .dialog .geotabLabel .username {
    font-weight: bold;
}

#shareDialog .geotabLabel {
    padding: 0 0 10px 0;
}

#shareDialog .gray {
    color: #949494;
    font-size: 12px;
    font-weight: normal;
}

#shareTextarea {
    width: 100%;
    height: 80px;
    font-family: inherit;
    font-weight: normal;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px #ddd solid;
}

#securityDialog #securityCancel {
    background-color: #56B056;
}
#securityDialog #securityConfirm {
    color: #fd9595;
    padding: 11px;
    display: block;
    float: right;
    cursor: pointer;
    text-decoration: none;
}

#securityDialog #securityConfirm:hover {
    text-decoration: underline;
}

#securityDialog .geotabLabel {
    padding: 0;
    min-height: 30px;
}