@import "../variables";

.text--large {
  font-size: $font-size-large;
  margin: 0;
}

.text--medium {
  font-size: $font-size-medium;
}

// Page-specific styles
.landing-page {
  margin-top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: $lightBlack;

  &__left {
    width: 454px;
  }

  &__right {
    width: 716px;
  }

  &__product-buttons-row {
    display: flex;
  }

  &__product-button {
    width: 336px;
    height: 188px;
    margin: 4px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline: 1px solid $button-outline;
    background: $button-bg;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.04);

    &:hover {
      outline: 1px solid $button-outline;
      background: $button-bg;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.20);
    }

    &:focus,
    &:active {
      border-radius: 4px;
      outline: 2px solid $button-outline--focus;
      background: $button-bg--focus;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.20);
    }
  }

  &__text-container {

    margin-right: 8px;

    .subtitle p {
      margin-block-end: 0;
    }
  }
}

.center-tableItem {
  th, td {
    text-align: center;
    align-items: center;
  }
}

.methods {
  &__method-title {
    display: flex;
    justify-content: space-between;
  }

  &__view-button {
    text-decoration: none;
  }
}

.objects {
  &__object-title {
    display: flex;
    justify-content: space-between;
  }

  &__view-button {
    text-decoration: none;
  }
}

.landing-page__text-container {
  margin-right: 8px;
}

.landing-page__text-container .subtitle p {
  margin-block-end: 0px
}

ul {
  margin-block-start: 0px
}

.table-container {
  border-radius: 4px;
  border: 1px solid $table-border;
  margin: 0;
  padding: 0;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 16px 0;
}


tbody tr {
  border-top: 1px solid $table-border;
  border-radius: 4px;
}

th,
td {
  padding: 16px;
  text-align: left;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkBlue;
}

.title {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.subtitle {
  font-weight: 300;
  font-size: $font-size-medium;
  line-height: 28px;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: $brightBlue;
  text-decoration: none;
}

.grayBackground {
  background-color: $lightGray;
}

.small-code-sample {
  color: $code-color;
  background-color: $code-bg;
  padding: 4px;
}

.small-code-sample-two {
  background-color: $code-bg;
  padding: 4px;
}