@import "../variables";

.pageContent{
  padding: 8px 24px 24px 24px;
}

.text--large {
  font-size: $font-size-large;
  margin: 0;
}

.text--medium {
  font-size: $font-size-medium;
}

// Page-specific styles
.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: $lightBlack;

  &__left {
    width: 454px;
  }

  &__right {
    width: 716px;
  }

  &__product-buttons-row {
    display: flex;
  }

  &__product-button {
    width: 336px;
    height: 188px;
    margin: 4px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    outline: 1px solid #C0CCD8;
    background: #FFF;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.04);


    &:hover {
      outline: 1px solid #C0CCD8;
      background: #FFF;
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.20);
    }

    &:focus,
    &:active {
      border-radius: 4px;
      outline: 2px solid #0078D3;
      background: #F9FAFB;
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.20);
    }
  }
}

.usingCustomTelematicsDevices {

  &__deviceManagementIMG{
    padding: 0.25rem;
    background-color: $lightGray;
    border: 1px solid #DEE2E6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }

}

.landing-page__text-container {
  margin-right: 8px;
}

.landing-page__text-container .subtitle p {
  margin-block-end: 0px
}

ul {
  margin-block-start: 0px
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkBlue;
}

.title {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.breadCrumb {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $darkBlue;
  display: flex;
  margin-block-end: 0px;
}

.breadCrumb span {
  align-self: center;
}

a {
  color: $brightBlue;
}

.grayBackground {
  background-color: $lightGray;
}