#historyReport-content {
    margin-top: 20px;
    font-family: 'Helvetica', 'sans-serif';
}

#historyReport-error {
    color: #da4f49;
    font-size: 1.1em;
}

#historyReport-image-loading {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.historyReport-container {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    -webkit-box-shadow: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}
    .historyReport-container .historyReport-container-header {
        padding: 10px 20px;
        background-color: #eee;
        border-bottom: 1px dotted #ccc;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        font-size: 1.4em;
    }
    .historyReport-container .historyReport-container-footer {
        padding: 15px 20px;
        background-color: #eee;
        border-top: 1px solid #ccc;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .historyReport-container .historyReport-container-content {
        padding: 30px;
    }

.bootstrap .table {
    margin-bottom: 0;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}
