@import "../../variables.scss";

.footer-container {
  display: flex;
  height: 24px;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  background: $actions-primary-active
}

.footer-container__left {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    color: $backgrounds-content-2;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    text-decoration: none;
  }
}

.footer-container__right {
  width: 205px;
  flex-shrink: 0;
  text-align: right;

  .footer-copyright {
    color: $backgrounds-content-2;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.32px;
  }
}
