$brightBlue: #0069BF;
$darkBlue: #4E677E;
$lightGray:#F9FAFB;
$lightBlack: #1E1E1E;

$font-size-large: 28px;
$font-size-medium: 20px;
$font-size-small: 14px;

$backgrounds-content-0: #F9FAFB;
$borders-form-field-hover: #748faa;
$active-button-bg: #E5F7FD;
$text-reverse-primary: #fff;
$text-placeholder: #8da4b9;
$text-secondary: #4E677E;
$text-hyperlink: #005AA8;